/*-----------------
	header
------------------*/
.header_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: $header-height;
	padding: 0 $gap * 2;

	button {
		display: flex;
		align-items: center;
	}
	.btn_menu {
		font-size: $gap * 4;
	}
	.logo {
		display: flex;

		img {
			vertical-align: top;
		}
	}
	.btn_search {
		font-size: $gap * 4;
	}
}

