/*---------------------------
	navigation
---------------------------*/
.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: $bottom_navigation_height;
	padding: $gap * 2;
	background: #fff;

	a {
		text-align: center;
		margin: 0 $gap * 2;

		i {
			font-size: $gap * 4;
		}
		img {
			width: $gap * 4;
			height: 100%;
			opacity: 0.65;
		}
		p {
			font-size: $gap * 2;
			white-space: nowrap;
		}
	}
}

.page_main,
.page_mypage {
	.navigation {
		position: fixed;
		bottom: 0;
		left: 0;

		//@media screen and (min-width: 640px) {
		//	position: static;
		//}
	}
}
