/*---------------------------
	navigation
---------------------------*/
.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px 15px;
	background: #fff;

	a {
		text-align: center;
		margin: 0 20px;

		i {
			font-size: 3.75rem;
		}
		img {
			width: 100%;
			height: 100%;
			opacity: 0.65;
		}
		p {
			font-size: 1rem;
		}
	}
}

.page_main,
.page_mypage {
	.navigation {
		position: fixed;
		bottom: 0;
		left: 0;

		//@media screen and (min-width: 640px) {
		//	position: static;
		//}
	}
}