/*-----------------
	slider
------------------*/
.slider {
  touch-action: auto !important;
  -ms-touch-action: pan-y;
  touch-action: pan-y;

  img {
    min-width: 100%;
    width: auto;
    object-fit: cover;
  }
  .content {
    position: absolute;
    bottom: 25%;
    left: 0;
    text-align: center;
    width: 100%;

    p {
      color: #fff;

      * { color: inherit; }
      &.main_txt {
        font-size: 30px;
        font-weight: bold;
      }

      &.sub_txt {
        font-size: 16px;
        font-weight: lighter;

        &.bold {
          font-weight: bold;
        }
      }
    }

    &.center {
      top: 50%;
      bottom: unset;
      transform: translateY(-50%);
    }
  }

  .slick-slide {
    position: relative;
    touch-action: auto;
    -ms-touch-action: auto;
	  overflow: hidden;
  }
  .slick-dots {
    bottom: -10px;

    li {
      width: 0.625rem;
      height: 0.625rem;

      &.slick-active {
        button:before {
          content: '●';
        }
      }
      button:before {
        content: '○';
        color: #a8a8a8 !important;
        opacity: 1;
      }
    }
  }
}

.page_main {
	#slider01 {
		.slick-slide {
			img {
				width: 100%;
			}
		}
	}
	#slider_dot {
		.slick-slide {
			img {
				width: 100%;
			}
		}
	}
	#lineSlider {
		.slick-slide {
			img {
				width: 100%;
			}
		}
	}
  #slider02.slider {
    .slick-list {
      padding: 0 1rem;
    }
    .slick-slide {
      margin: 0 0.375rem;// 6px

      img {
        width: 15rem;// 240px
        height: 15rem;// 240px
      }
    }
  }
  #twoSlider {
    .slick-slide {
      margin: 0 0.375rem;// 6px
	    overflow: hidden;

      img {
        width: 100%;
        height: 15rem;// 240px
        object-fit: fill;
      }
    }
  }
}