/*-----------------
	mypage
------------------*/
.page_mypage {
	.user_info {
		text-align: center;
		margin: 6rem 0 0; //145px

		.thumbnail {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 17.938rem; //287px
			height: 17.938rem; //287px
			font-size: 12.5rem; //200px
			margin: 0 auto;
			border: 1px solid #bebebe;
			border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
			overflow: hidden;
		}
		.name {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 2.75rem auto 0.875rem; //44px auto 14px
			font-size: 3.125rem; //50px
			font-weight: bold;
		}
		.email {
			font-size: 1.5rem; //24px
			font-size: 300;
		}
	}
	.menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20% 10% 20%;

		a {
			text-align: center;
			font-size: 1.625rem; //26px
			color: #989898;
		}
		img {
			width: 5.625rem; //90px
			margin-bottom: 2px;
		}
	}
}
