/*-----------------
	wrap
------------------*/
.wrapper {
	max-width: 840px;
	margin: 0 auto;
}
/*-----------------
	main
------------------*/
.page_main {
	height: 100%;
	overflow-y: auto;

	.menu_box {
		display: flex;
		flex-wrap: wrap;
		margin: 1.625rem 5.5rem 1.375rem;// 26px 88px 22px
		
		a {
			text-align: center;
			flex: 0 0 25%;
			margin-bottom: 0.625rem;// 9px
			font-size: 1.375rem;// 22px

			img {
				width: 100%;
			}
		}
	}
}
