@charset "utf-8";

/*-----------------
	wrap
------------------*/
.wrapper {
	max-width: 840px;
	margin: 0 auto;
}

.header_wrap {
	.logo {
		width: 13rem;
	}
}
.side_menu {
	.side_logo {
		width: 11rem;
	}
}
/*-----------------
	main
------------------*/
.page_main {
	height: 100%;
	overflow-y: auto;

	.menu_box {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 2.5rem 0 2rem;
		padding: 2.5rem 3rem;
		border-top: 1px solid #f1f1f1;

		a {
			text-align: center;
			width: calc(100% / 4);
			margin-bottom: 0.625rem; // 9px
			font-size: 1.7rem;
			color: #6d6d6d;

			img {
				display: block;
				text-align: center;
				width: 60%;
				margin: 0 auto 4px;
			}
		}
	}

	#slider_dot {
		.slick-slide {
			img {
				width: 100%;
			}
		}
		.slick-dots {
			bottom: -1.5rem;
			margin: 0 7px;
			font-size: 15px;
		}
	}

	#lineDotSlider {
		.slick-slide {
			img {
				width: 100%;
			}
		}
	}
}
