@charset "utf-8";

/*-----------------
	wrap
------------------*/
.wrapper {
	max-width: 840px;
	margin: 0 auto;
}

.header_wrap {
	.logo {
		width: 11rem;
	}
}
.side_menu {
	.side_logo {
		width: 11rem;
	}
}
/*-----------------
	main
------------------*/
.page_main {
	height: 100%;
	overflow-y: auto;

	.menu_box {
		display: flex;
		justify-content: space-around;
		margin: 1.625rem 25px 1.375rem;// 26px 0 22px

		a {
			text-align: center;
			margin-bottom: 0.625rem;// 9px
			font-size: 1.7rem;
			color: #6D6D6D;

			img {
				display: block;
				text-align: center;
				width: 60%;
				margin: 0 auto 4px;
			}
		}
	}

	#lineSlider {
		.slick-slide {
			height: 11.25rem;// 180px
			margin: 0 0.375rem;// 6px

			img {
				width: 100%;
				height: 11.25rem;// 180px
				object-fit: cover;
			}
		}
	}
	#twoSlider {
		.slick-slide {
			img {
				width: 21.875rem;// 350px
				height: 21.875rem;// 350px
			}
		}
	}
	#lineFadeSlider {
		.slick-slide {
			img {
				width: 100%;
			}
		}
	}
	#lineDotSlider {
		.slick-slide {
			img {
				width: 100%;
			}
		}
	}
}