@charset "utf-8";

/*-----------------
	wrap
------------------*/
.wrapper {
	max-width: 840px;
	margin: 0 auto;
}

.container_wrap {
	overflow: hidden;
}
.header_wrap {
	.logo {
		width: 13rem;
	}
	.search-form {
		position: relative;

		&__input {
			// border: 1px solid $grey1;
			border-radius: 30px;
			height: 30px;
		}
		&__button {
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);

			i {
				font-size: 2.5rem;
			}
		}
	}
}
.side_menu {
	.side_logo {
		width: 11rem;
	}
}

/*-----------------
	main
------------------*/
.page_main {
	height: 100%;
	overflow-y: auto;

	.menu_box {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 2.5rem 0 2rem;
		padding: 2.5rem 3rem;
		border-top: 1px solid #f1f1f1;

		a {
			text-align: center;
			width: calc(100% / 4);
			margin-bottom: 0.625rem; // 9px
			font-size: 1.7rem;
			color: #6d6d6d;

			img {
				display: block;
				text-align: center;
				width: 60%;
				margin: 0 auto 4px;
			}
		}
	}

	#slider_dot {
		.slick-slide {
			img {
				width: 100%;
			}
		}
		.slick-dots {
			bottom: -1.5rem;
			margin: 0 7px;
			font-size: 15px;
		}
	}

	#lineDotSlider {
		.slick-slide {
			img {
				width: 100%;
			}
		}
	}
}
.page_event {
	text-align: center;

	.mascot {
		width: 80%;
		margin: 60px auto 0;
		padding-bottom: 60px;
		border-bottom: 1px solid #eee;

		img {
			width: 100%;
			max-width: 327px;
		}
		p {
			margin-top: 22px;
			font-size: 2.5rem;
			font-weight: 500;

			span {
				color: #FF0505;
				font-weight: inherit;
			}
		}
	}
	.menu-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 60px 0;
		margin: 0 20px;

		.menu {
			flex: 0 0 33.3%;
			margin-bottom: 30px;
			
			img {
				width: 50%;
				height: auto;
				max-width: 90px;
				max-height: 90px;
			}
			p {
				margin: 17px 0 0;
				font-size: 1.5rem;
				color: #2A397B;
			}
		}
	}
}
.page_parking {
	.parking {
		$item: &;

		&-map {
			img {width: 100%;}
		}
		&-title {
			text-align: center;
			padding: 10px 0;
			background: #E0F2FF;
			font-size: 2.188rem;
			color: #011365;
		}
		&-item {
			margin: 5px;
			padding: 20px;
			border: 1px solid #BDBDBD;
			border-radius: 30px;
			background: #fff;

			&__line1 {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 2.188rem;

				span {color: #5E605F;}
				img {width: 5.625rem;margin: 0 2rem;}
			}
			&__line2 {
				display: flex;
				justify-content: space-between;
				margin-top: 15px;

				div {
					text-align: center;
					flex: 1;

					& + div {margin-left: 10px;}
				}
				p {
					font-size: 1.625rem;
					margin-top: 12px;
				}
			}
		}
		&-item-box {
			margin: 10px;

			.parking-place {
				text-align: center;
				margin-top: 8px;
				padding: 0 10px;
				font-size: 1.5rem;
				color: #5E605F;
			}
		}
		&-items {
			display: flex;

			.parking-item {
				flex: 1;
				display: flex;
				justify-content: center;
				padding: 20px;
				font-size: 1.75rem;

				img {
					width: 3.75rem !important;
					margin-left: 10px;
				}
				.group {
				font-size: 2.5rem;
				}
				.state {
					padding: 0 10px;
				}
			}
		}
		.state {
			width: 100%;
			padding: 10px 15px;
			font-size: 17px;
			border-radius: 30px;
			background: #BDBDBD;
			color: #fff;

			&-step1.active {
				background: #0069B6;
			}
			&-step2.active {
				background: #FFB803;
			}
			&-step3.active {
				background: #FF0000;
			}
		}
	}
}

.sub_header {
	display: flex;
	align-items: center;
	padding: 21px 30px;
	background: #469BFF;
	color: #fff;
	font-size: 2.5rem;

	.btn_back {
		display: flex;
		align-items: center;
		margin-right: 10px;
		color: #fff;
		font-size: 2.5rem;

		i {
			color: inherit;
		}
	}
}

.navigation {
	position: fixed;
	bottom: 0;
	left: 0;
	background: #011365;

	a {
		margin: 0 10px;

		img {
			opacity: 1;
		}
	}
	p {
		color: #fff;
	}
}
