@charset "utf-8";

@import
'components/dropdown',
'components/slider',
'components/tab',
'components/topBanner'
;


/*-----------------
	wrap
------------------*/
.wrapper {
	max-width: 840px;
	margin: 0 auto;
}

/*-----------------
	main
------------------*/
.page_main {
	height: 100%;
	overflow-y: auto;

	.menu_box {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 1.625rem 5rem 1.375rem;// 26px 6px 22px

		a {
			flex: 25%;
			text-align: center;
			margin-bottom: 0.625rem;// 9px
			font-size: 1.563rem;// 25px
			color: #6D6D6D;

			img {
				display: block;
				text-align: center;
				width: 70%;
				margin: 0 auto 4px;
			}
		}
	}

	#lineSlider {
		.slick-slide {
			height: 11.25rem;// 180px
			margin: 0 0.375rem;// 6px

			img {
				width: 100%;
				height: 11.25rem;// 180px
				object-fit: cover;
			}
		}
	}
	#twoSlider {
		.slick-slide {
			img {
				width: 21.875rem;// 350px
				height: 21.875rem;// 350px
			}
		}
	}
}