@charset "utf-8";

/*-----------------
	wrap
------------------*/
.wrapper {
	max-width: 840px;
	margin: 0 auto;
}

.container_wrap {
	overflow: hidden;
}

.header_wrap {
	.logo {
		width: 16rem;
	}
	.search-form {
		position: relative;

		&__input {
			border: 1px solid #878787;
			border-radius: 30px;
			width: 18.75rem;
			height: 3.75rem;
		}
		&__button {
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);

			i {
				font-size: 2.5rem;
			}
		}
	}
}

.side_menu {
	.side_logo {
		width: 11rem;
	}
}

/*-----------------
	main
------------------*/
.page_main {
	height: 100%;
	overflow-y: auto;

	.menu_box {
		display: flex;
		justify-content: space-between;
		padding: 2.5rem 1.875rem;

		a {
			text-align: center;
			font-size: 1.5rem;
			color: #6d6d6d;

			+ a {
				margin-left: 1.5rem;
			}
			img {
				display: block;
				text-align: center;
				width: 100%;
				margin: 0 auto 4px;
			}
		}
	}
	.go_menu {
		$root: &;

		padding: 0 1.875rem;

		&--item {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: calc((100% / 2) - 4px);
			padding: 15px;
			background: #edf3ff;
			border: 1px solid #b1d0fe;
			border-radius: 18px;
			font-size: 1.688rem;
			letter-spacing: -1px;
			white-space: nowrap;

			img {
				width: 30%;
				margin-right: 15px;
			}
			&:first-child {
				margin-right: 4px;
			}
		}
	}

	#slider_dot {
		.slick-slide {
			img {
				width: 100%;
			}
		}
		.slick-dots {
			text-align: left;
			bottom: -15px;

			li {
				margin: 0 8px;

				button {
					&:before {
						color: #c4c4c4 !important;
						font-size: 16px;
					}
				}
			}
		}
	}

	#lineDotSlider {
		.slick-slide {
			img {
				width: 100%;
			}
		}
	}
}

.page_event {
	text-align: center;

	.mascot {
		width: 80%;
		margin: 3.75rem auto 0;
		padding-bottom: 3.75rem;
		border-bottom: 1px solid #eee;

		img {
			width: 100%;
			max-width: 327px;
		}
		p {
			margin-top: 22px;
			font-size: 2.5rem;
			font-weight: 500;

			span {
				color: #ff0505;
				font-weight: inherit;
			}
		}
	}
	.menu-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 3.75rem 0;
		margin: -2.563rem 0 1.25rem;

		.menu {
			flex: 0 0 33.3%;
			margin-top: 2.563rem;

			img {
				width: 50%;
				height: auto;
				max-width: 100px;
				max-height: 100px;
			}
			p {
				margin: 1.063rem 0 0;
				font-size: 1.5rem;
				color: #2a397b;
			}
		}
	}
}

.page_parking {
	.parking {
		$item: &;

		&-map {
			img {
				width: 100%;
			}
		}
		&-title {
			text-align: center;
			padding: 10px 0;
			background: #e0f2ff;
			font-size: 2.188rem;
			color: #011365;
		}
		&-item {
			margin: 5px;
			padding: 20px;
			border: 1px solid #bdbdbd;
			border-radius: 30px;
			background: #fff;

			&__line1 {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 2.188rem;

				span {
					color: #5e605f;
				}
				img {
					width: 5.625rem;
					margin: 0 2rem;
				}
			}
			&__line2 {
				display: flex;
				justify-content: space-between;
				margin-top: 15px;

				div {
					text-align: center;
					flex: 1;

					& + div {
						margin-left: 10px;
					}
				}
				p {
					font-size: 1.625rem;
					margin-top: 12px;
				}
			}
		}
		&-item-box {
			margin: 10px;

			.parking-place {
				text-align: center;
				margin-top: 8px;
				padding: 0 10px;
				font-size: 1.5rem;
				color: #5e605f;
			}
		}
		&-items {
			display: flex;

			.parking-item {
				flex: 1;
				display: flex;
				justify-content: center;
				padding: 20px;
				font-size: 1.75rem;

				img {
					width: 3.75rem !important;
					margin-left: 10px;
				}
				.group {
					font-size: 2.5rem;
				}
				.state {
					padding: 0 10px;
				}
			}
		}
		.state {
			width: 100%;
			padding: 10px 15px;
			font-size: 17px;
			border-radius: 30px;
			background: #bdbdbd;
			color: #fff;

			&-step1.active {
				background: #0069b6;
			}
			&-step2.active {
				background: #ffb803;
			}
			&-step3.active {
				background: #ff0000;
			}
		}
	}
}

.sub_header {
	display: flex;
	align-items: center;
	padding: 21px 30px;
	background: #469bff;
	color: #fff;
	font-size: 2.5rem;

	.btn_back {
		display: flex;
		align-items: center;
		margin-right: 10px;
		color: #fff;
		font-size: 2.5rem;

		i {
			color: inherit;
		}
	}
}

.navigation {
	position: fixed;
	bottom: 0;
	left: 0;
	background: #011365;

	a {
		margin: 0 10px;

		img {
			opacity: 1;
		}
		p {
			color: #fff;
			font-size: 1.5rem;
		}
	}
}
