<nav class="navigation">
	<a href="#">
		<img src="../assets/images/yeongju/icons/info.png" alt="영주관광">
		@@if (isText === true) {
		<p>영주관광</p>
		}
	</a>
	<a href="#">
		<img src="../assets/images/yeongju/icons/map.png" alt="여행지도">
		@@if (isText === true) {
		<p>여행지도</p>
		}
	</a>
	<a href="#">
		<img src="../assets/images/yeongju/icons/star.png" alt="체험여행">
		@@if (isText === true) {
		<p>체험여행</p>
		}
	</a>
	<a href="#">
		<img src="../assets/images/yeongju/icons/qr.png" alt="QR스캔">
		@@if (isText === true) {
		<p>QR스캔</p>
		}
	</a>
	<a href="#">
		<img src="../assets/images/yeongju/icons/person.png" alt="마이룸">
		@@if (isText === true) {
		<p>마이룸</p>
		}
	</a>
</nav>
