<div class="top_area">
	<img src="@@banner" alt="" class="img" />

	@@if (isTitle === true) {
	<div class="bn_text">
		@@if (isSubTitle === true) {
		<p class="sub_title">@@subTitle</p>
		}
		<p class="title">@@title</p>
	</div>
	}

	<div class="sub_header">
		<button type="button" class="btn_back" onclick="history.back(); return false;">
			<i class="ph-caret-left-thin"></i>
		</button>
		<button type="button" class="btn_home" onclick="location.href='/index.html'">
			<i class="ph-house-thin"></i>
		</button>
		<button type="button" class="btn_search">
			<i class="ph-magnifying-glass-thin"></i>
		</button>
	</div>
</div>
